<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem - Clientes</title>
</head>
<body>
    <h3>Lisatem de Clientes</h3>
    <hr>
    {% for cliente in object_list %}
        <p>{{cliente.nome}}</p>
        <p>{{cliente.email}}</p>
        <p>{{cliente.endereco}}</p>
        <p>{{cliente.telefone}}</p>
        <p>{{cliente.observacoes}}</p>
        <p>
            <a href="{% url 'cliente_update' cliente.pk %}">Atualizar</a>
        </p>
        <p>
            <a href="{% url 'cliente_delete' cliente.pk %}">Deletar</a>
        </p>

    <hr>
    {% endfor %}

<ul>
    <li>
        <a href="{% url 'cliente_create' %}">Adicionar</a>
    </li>
</ul>
</body>
</html>